@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair';
    src: url('../fonts/PlayfairDisplay-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
