body {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    color: $gray-dark;
    background-image: url('../images/background-upper.svg');
    background-size: 80% auto;
}

header {
    margin: 150px auto 170px;
    text-align: center;

    img.logo {
        display: block;
        margin: 30px auto;
    }
    h1.thorgate {
        font-size: 48px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-top: 19px;
        color: inherit;
        text-decoration: none;
        display: inline-block;
    }
    .description {
        max-width: 590px;
        padding: 0 30px;
        margin: 40px auto 0;
        font-size: 18px;
        font-weight: 300;
        color: $gray-dark;
    }
    hr {
        width: 60px;
        height: 3px;
        background-color: $gray-lighter;
        border: none;
        margin: 14px auto;
    }
}

.thorgate-footer {
    width: 100%;
    box-shadow: 0 2px 20px 0 $color-footer-shadow;
    padding: 25px 0;
    font-family: $font-open-sans;

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    @media (min-width: $screen-md) {
        padding: 28px 0;
    }

    .container {
        width: 100%;
        max-width: 990px;
        padding: 0 30px;
        margin: 0 auto;
    }

    .tf-left {
        margin-bottom: 25px;

        @media (min-width: $screen-md) {
            margin: 0;
            float: left;
            width: 30%;

            &:after {
                content: '';
                display: block;
                clear: both;
            }
        }

        .thorgate-footer-logo {
            width: 35px;
            height: 35px;
            background-image: url('../images/footer/logo.svg');
            display: block;
            margin: 0 auto 10px auto;

            @media (min-width: $screen-md) {
                margin: 0;
                float: left;
            }
        }
        .thorgate-copyright {
            text-align: center;
            color: $color-footer-gray;
            font-size: 15px;
            line-height: 28px;
            margin: 0;

            @media (min-width: $screen-md) {
                line-height: 35px;
                float: left;
                margin-left: 11px;
            }
        }

    }
    .tf-right {
        @media (min-width: $screen-md) {
            float: right;
            width: 70%;
            text-align: right;
            font-size: 0;
        }
        .footer-links {
            margin-bottom: 25px;
            text-align: center;

            @media (min-width: $screen-md) {
                margin-bottom: 0;
                display: inline-block;
            }
            li {
                list-style: none;
                @media (min-width: $screen-md) {
                    float: left;
                    margin-right: 40px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
                a {
                    color: $color-footer-gray;
                    font-size: 15px;
                    line-height: 28px;
                    text-decoration: none;
                    @media (min-width: $screen-md) {
                        line-height: 36px;
                    }
                    &:hover {
                        text-decoration: none;
                        opacity: .5;
                        transition: opacity .35s ease-in-out;
                    }
                }
            }
        }
        .footer-socials {
            text-align: center;

            @media (min-width: $screen-md) {
                width: 126px;
                margin-left: 23px;
                display: inline-block;
            }

            li {
                display: inline-block;
                margin-right: 10px;

                @media (min-width: $screen-md) {
                    margin-right: 9px;
                    width: 36px;
                    height: 36px;
                    float: left;
                }

                &:last-child {
                    margin-right: 0;
                }

                a {
                    text-indent: -99999px;
                    width: 36px;
                    height: 36px;
                    border: 1px solid $color-footer-gray-border;
                    border-radius: 18px;
                    display: block;
                    transition: border .35s ease-in-out;
                    background-repeat: no-repeat;

                    &:hover {
                        border: 1px solid $color-footer-gray;
                    }
                }

                &.facebook {
                    a {
                        background-image: url('../images/footer/facebook.svg');
                        background-position: left 14px top 9px;
                    }
                }

                &.twitter {
                    a {
                        background-image: url('../images/footer/twitter.svg');
                        background-position: left 10px top 11px;
                    }
                }

                &.linkedin {
                    a {
                        background-image: url('../images/footer/linkedin.svg');
                        background-position: left 9px top 8px;
                    }
                }
            }
        }
    }
}



@media (max-width: 989px) {
    header {
        margin: 50px auto 120px;
    }
}

@media (max-width: 659px) {
    header {
        margin: 30px auto 80px;

        h1.thorgate {
            font-size: 36px;
        }
        .description {
            margin: 40px 30px 0;
        }
    }
}

@media (max-width: 439px) {
    header {
        h1.thorgate {
            font-size: 28px;
        }
    }
}
